name: Docker Build and Push

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Django image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.django-debian   # <-- ВАЖНО: путь к Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/defectdojo-django:latest

      - name: Build and push Nginx image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.nginx-alpine
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/defectdojo-nginx:latest
